@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --themeColor: #5F2930;
  --specialColor: #c32e06;
  --fontFamily: "Roboto","Sansita Swashed","Arial",sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Cormorant Garamond', serif !important; */
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.title-style {
  font-family: 'Sansita Swashed', cursive;
}

.slick-list {
  overflow: visible !important;
}

.slick-slide > div {
  overflow: visible !important;
}

/* Remove padding from MUI Container */
.css-1u606s6-MuiContainer-root,
.MuiContainer-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (min-width: 600px) {
  .css-1u606s6-MuiContainer-root,
  .MuiContainer-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* Remove margin-top from .css-1wc8q2d */
.css-1wc8q2d {
  margin-top: 0 !important;
}

@media (min-width: 0px) {
  .css-1wc8q2d {
    margin-top: 0 !important;
  }
}

@media (min-width: 900px) {
  .css-1wc8q2d {
    margin-top: 0 !important;
  }
}
